<br>
<h3>
  Inventory:
  <small class="text-muted">Management History</small>
</h3>


<div ng-controller="management_tab_controller">


	<div class="card">
		<div class="card-block">

			<form class="form-inline">
				<div class="form-group">
					<label>Chassis ID</label> <input type="text"
						ng-model="searchChassis" class="form-control mx-sm-3">
				</div>
				<div class="form-group">
					<label>IP</label> <input type="text" ng-model="searchIP"
						class="form-control mx-sm-3">
				</div>
				<div class="form-group ">
					<label>Serial</label> <input type="text" ng-model="searchSerial"
						class="form-control mx-sm-3">
				</div>

			</form>
			<br>
			<form class="form-inline">
				
				<div class="form-group">
					<label>Slot</label> <input type="text"
						ng-model="searchSlot" class="form-control  mx-sm-3">
				</div>
				<div class="form-group">
					<label>Date</label> <input type="text" ng-model="searchDate"
						class="form-control mx-sm-3">
				</div>

			</form>

		</div>



	</div>


	<br>


	<table class="table table-bordered">
		<thead class="thead-inverse">
			<tr>
				<th><span class="fake-link" id="fake-link-1"
					ng-click="sortType = 'run_id'; sortReverse = !sortReverse">

						Run ID</span></th>
				<th><span class="fake-link" id="fake-link-1"
					ng-click="sortType = 'chassis_id'; sortReverse = !sortReverse">

						Chassis ID</span></th>
				<th><span class="fake-link" id="fake-link-1"
					ng-click="sortType = 'chassis_ip'; sortReverse = !sortReverse">

						IP</span></th>

				<th><span class="fake-link" id="fake-link-1"
					ng-click="sortType = 'serial'; sortReverse = !sortReverse">

						Serial</span></th>
				<th><span class="fake-link" id="fake-link-1"
					ng-click="sortType = 'slot'; sortReverse = !sortReverse">

						Slot</span></th>

				<th><span class="fake-link" id="fake-link-1"
					ng-click="sortType = 'date'; sortReverse = !sortReverse">

						Date</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-success"
				ng-repeat="item in value = (values | filter:{'chassis_id': searchChassis}  | filter:{'chassis_ip': searchIP} | filter:{'serial': searchSerial} | filter:{'slot': searchSlot} | filter:{'date': searchDate } ) | orderBy:sortType:sortReverse | limitTo: limit ">

				<th scope="row">{{item.run_id}}</th>
				<td>{{item.chassis_id}}</td>
				<td>{{item.chassis_ip}}</td>
				<td>{{item.serial}}</td>
				<td>{{item.slot == '21' ? 1 : 2}}</td>
		
				<td>{{item.date}}</td>
			</tr>

		</tbody>
	</table>
	<br>
	<button type="button" class="btn btn-info btn-lg btn-block"
		ng-click="LoadMore()">Show More</button>
</div>