body {
  
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-faded {
    background-color: #dfe413;
}

.fake-link {
    color: #cc0000;
    text-decoration: underline;
    cursor: pointer;
}
